<%- include('../partials/adminPartials/__adminHeader__') %>


    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <!-- MAIN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <p href="#">Dashboard / sales</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid tab-name ">
            <h3 class="p-3 ">Sales Report</h3>
        </div>
        <button onclick="RefreshPage()" style="padding: 8px 13px;
        border: none;
        text-transform: capitalize;
        border-radius: 11px;
    ">refrash</button>
        <div class=""
            style="background-color: #f2f2ee;height: fit-content;box-shadow: 1px 1px 6px;padding: 20px; margin: 35px 148px;">
            <form>
                <div class=" row d-flex">
                    <div class="tabhead" style="padding-top: 1rem;
                margin-left: 13px;">
                        <h3 style="font-weight: 600;
                    font-size: 15px;">Select Sales Period:</h3>
                    </div>
                    <div class="row d-flex">
                        <div class="form-group m-2 col">
                            <label for="start_date">From:</label><br>
                            <input type="date" class="form-control" id="start_date" placeholder="" name="fromDate"
                                required>
                        </div>
                        <div class="form-group m-2 col">
                            <label for="end_date">To:</label><br>
                            <input type="date" class="form-control" id="end_date" placeholder="" name="toDate" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <div>
                            <button type="submit">Search Report</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="align-items: center;
        display: flex;
        justify-content: space-around;
        gap: 2rem;">
            <div class=">
                <div class=" d-flex justify-content-between align-items-center">
                <!-- <div class="options">
                        <select id="statusFilter" class="ea-input" onchange="redirectToSelected()">
                            <option value="" selected disabled>Select an option</option>
                            <option value="/admin/sales-report">All Sales</option>
                            <option value="/admin/sales-report?status=pending">Pending</option>
                            <option value="/admin/sales-report?status=shipped">Shipped</option>
                            <option value="/admin/sales-report?status=on delivery">On Delivery</option>
                            <option value="/admin/sales-report?status=return period">Return period</option>
                            <option value="/admin/sales-report?status=closed">Order Closed</option>
                            <option value="/admin/sales-report?status=canceled">Canceled</option>
                        </select>
                    </div> -->
                <div class="selected-status d-none d-md-block">

                    <h3 class="text-secondary" style="font-weight: 600;
                        font-size: 15px;">All Sales Report</h3>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Download</button>
                    <div class="dropdown-content">
                        <form action="admin/sales-report/download-report" method="post">
                            <div class="text-center my-2 px-4">
                                <input type="text" hidden name="method" value="csv">
                                <button type="submit" style="padding: 7px 4px;
                                    background: #c8ffec;" class="btn" id="sales-report-submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cloud-download" viewBox="0 0 16 16">
                                        <path
                                            d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                                        <path
                                            d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                                    </svg> Download CSV
                                </button>
                            </div>
                        </form>
                        <form action="admin/sales-report/download-report" method="post">
                            <div class="text-center my-2 px-4">
                                <input type="text" hidden name="method" value="pdf">
                                <button type="submit" class="btn" style="padding: 7px 4px;
                                    background: #c8ffec;" id="sales-report-submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cloud-download" viewBox="0 0 16 16">
                                        <path
                                            d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                                        <path
                                            d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                                    </svg> Download PDF
                                </button>
                            </div>
                        </form>
                    </div>
                </div>




            </div>
            <div class="table-responsive">
                <table class="table text-center  table-striped table-hover">
                    <thead class="fs-6 " style="position: sticky;top: 0;">
                        <tr class="border">
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Date</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                OrderId</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Consumer</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Product</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Quantity</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Payment</th>
                            <th scope="col" style="font-weight: 500;background-color: #d5d1d1;color: black">
                                Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allOrders.forEach(order=> { %>
                            <tr>
                                <td>
                                    <%= order.date.toLocaleDateString() %>
                                </td>
                                <input type="text" hidden name="date" value="<%= order.date.toLocaleDateString() %>">
                                <td>
                                    <%= order.orderId %>
                                </td>
                                <input type="text" hidden name="order_id" value="<%= order.orderId %>">
                                <td>
                                    <%= order.name %>
                                </td>
                                <input type="text" hidden name="consumer" value="<%= order.name %>">
                                <td>
                                    <%= order.productName %>
                                </td>
                                <input type="text" hidden name="product" value="<%= order.productName %>">
                                <td>
                                    <%= order.quantity %>
                                </td>
                                <input type="text" hidden name="qty" value="<%= order.quantity %>">
                                <td>
                                    <%= order.paymentMethod %>
                                </td>
                                <input type="text" hidden name="payment" value="<%= order.paymentMethod %>">
                                <td>
                                    <%= order.amount %>
                                </td>
                                <input type="text" hidden name="amount" value="<%= order.amount %>">
                            </tr>
                            <% }); %>

                                <!-- <tr>
                                <td>
                                    date
                                </td>
                                <input type="hidden" name="date" value="date">
                                <td>
                                    orde
                                </td>
                                <input type="hidden" name="order_id" value="orde">
                                <td>
                                    consumer
                                </td>
                                <input type="hidden" name="consumer" value="consumer">
                                <td class="product-name"
                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100px;">
                                    prd_name
                                </td>
                                <input type="hidden" name="product" value="prd_name ">
                                <td>
                                    qty
                                </td>
                                <input type="hidden" name="qty" value="qty">
                                <td>
                                    <p>
                                        method</p>
                                </td>
                                <input type="hidden" name="payment" value="payment_method">
                                <td><b>sale.total_amount</td>
                                <input type="hidden" name="amount" value="total_amount" /> -->
                                </tr>
                    </tbody>
                </table>

            </div>
            <!-- </form> -->
        </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

        <script>
            function RefreshPage() {
                const pathname = window.location.pathname;
                history.replaceState(null, null, pathname);
                window.location.reload();
            }
        </script>
        <%- include('../partials/adminPartials/__adminFooter__') %>