<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- <div class="twoclasssome"> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user">Users</a>
                    </li>
                    <!-- </div> -->
                    <div class="someclass">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Orders</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href=/admin/logout>LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <nav class="nav nav-pills nav-justified" style="height: 8rem; text-align: center; text-transform: uppercase;">
        <p class="nav-link" style="padding-top: 2rem; background-color: #2c2c2c; margin: 9px 7.5rem; color: aliceblue;
    ">SALE <br> 23 </p>
        <p class="nav-link" style="padding-top: 2rem;margin: 9px 7rem; background-color: #2c2c2c; color: aliceblue;">
            Profit <br> $230</p>
        <p class="nav-link" style="padding-top: 2rem;margin: 9px 7rem; background-color: #2c2c2c; color: aliceblue;">
            total-customer <br>
            <%= totalcos %>
        </p>
    </nav>


    <div class="container">
        <a href="admin/addnew" class="btn btn-outline-primary" style="margin-bottom: 1rem;">Add New Product</a>
        <a href="admin/categU" class="btn btn-outline-primary" style="margin-bottom: 1rem;">Category</a>
        <form>
            <div class="input-group">
                <input type="search" class="form-control rounded" name="search" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" style="margin-left: 62rem;" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
        <div class="row" style="justify-content: space-evenly">
            <% for( let i=0; i < ProductDoc.length; i++ ) { %>
                <div class="card col-md-4" style="width: 18rem; margin: 1rem 21px;">
                    <img src="/uploaded/<%= ProductDoc[i].image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= ProductDoc[i].name %>
                        </h5>
                        <p class="card-text">
                            <%= ProductDoc[i].review %>
                        </p>
                        <h4>
                            <%= ProductDoc[i].price %>
                        </h4>
                        <a href="/admin/updateone/<%= ProductDoc[i]._id %>" class="btn">UPDATE</a>
                        <a href="/admin/deleteone/<%= ProductDoc[i]._id %>"
                            onclick="return confirm('confirm your decision!');" class="btn">DELETE</a>
                    </div>
                </div>
                <% } %>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
                <% for( let i = 1; i <=totalpage; i++ ) { %>
                    <li class="page-item"><a class="page-link" href="/admin?search=<%= search %>&page=<%= i %>">
                        <%= i %>
                    </a></li>
                <% } %>
            </ul>
        </nav>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>