<!DOCTYPE html>
<html lang="en-US">

<%- include('partials/__homeheader__') %>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <body
        class="archive tax-product_cat term-women term-35 wp-custom-logo theme-astra woocommerce woocommerce-page woocommerce-js ast-desktop ast-plain-container ast-no-sidebar astra-4.3.1 columns-3 tablet-columns-3 mobile-columns-2 ast-woo-shop-archive ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header ast-default-shop-page-modern-style ast-woocommerce-shop-page-modern-style ast-woocommerce-pagination-type-infinite elementor-default elementor-kit-4 astra-addon-4.1.5">

        <div class="hfeed site" id="page">
            <header
                class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline"
                id="masthead" itemscope="itemscope" itemid="#masthead">
                <div id="ast-desktop-header" data-toggle-type="dropdown">
                    <div class="ast-main-header-wrap main-header-bar-wrap ">
                        <div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item"
                            data-section="section-primary-header-builder">
                            <div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container"
                                data-section="section-primary-header-builder">
                                <div
                                    class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-grid-center-col-layout">
                                    <div
                                        class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
                                        <div class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item"
                                            data-section="section-hb-menu-1">
                                            <div class="ast-main-header-bar-alignment">
                                                <div class="main-header-bar-navigation">
                                                    <nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item"
                                                        id="primary-site-navigation-desktop"
                                                        aria-label="Site Navigation" itemscope="itemscope">
                                                        <div class="main-navigation ast-inline-flex">
                                                            <ul id="ast-hf-menu-1"
                                                                class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex  submenu-with-border ast-menu-hover-style-underline  stack-on-mobile">
                                                                <li id="menu-item-81"
                                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-81">
                                                                    <a href="/" class="menu-link">Home</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="site-header-primary-section-left-center site-header-section ast-flex ast-grid-left-center-section">
                                        </div>
                                    </div>
                                    <div
                                        class="site-header-primary-section-center site-header-section ast-flex ast-grid-section-center">
                                        <div class="ast-builder-layout-element ast-flex site-header-focus-item"
                                            data-section="title_tagline">
                                            <div class="site-branding ast-site-identity" itemscope="itemscope">
                                                <span class="site-logo-img"><a href="/" class="custom-logo-link"
                                                        rel="home"><img width="134" height="56"
                                                            src="/images/logo-header-regular copy.png"
                                                            class="custom-logo" alt="Eyewear Store"></a><span>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
                                        <div
                                            class="site-header-primary-section-right-center site-header-section ast-flex ast-grid-right-center-section">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container" style="height: 75vh;">
                <div class="EachSection"
                    style="display: flex;justify-content: center;gap: 2rem;padding: 4rem 3rem 2rem;">
                    <div>
                        <h3 style="font-weight: 800;
                        ">Shopping cart</h3>
                    </div>
                    <!-- <div>
                        <h3>2 shopping cart</h3>
                    </div>
                    <div>
                        <h3>3 shopping cart</h3>
                    </div> -->
                </div>
                <% if (userCart.length===0) { %>
                    <h1 style="margin-left: 27rem;">No items in Your Cart</h1>
                    <a style="text-decoration: none; margin-left: 38.5rem;" href="/">SHOP</a>
                    <% } else {%>
                        <div class="row">
                            <div class="col-md-8" style="text-align: center;">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr style="border: 1px solid burlywood;">
                                            <th style="background-color: #e7e7e7" scope="col">Product</th>
                                            <th style="background-color: #e7e7e7" scope="col">Price</th>
                                            <th style="background-color: #e7e7e7" scope="col">Quantity</th>
                                            <th style="background-color: #e7e7e7" scope="col">Total</th>
                                            <th style="background-color: #e7e7e7" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var x of userCart) { %>
                                            <tr style="border: 1px solid burlywood;">
                                                <th scope="row" style="height:70px">
                                                    <%= x.product_id.name %>
                                                        <img style="margin-left: 12px;
                                                border: 1px solid #80c7af;
                                                width: 50px;
                                                border-radius: 16px;" src="/uploaded/<%= x.product_id.image[0] %>"
                                                            alt="" srcset="">
                                                </th>
                                                <td id="<%= x.product_id.price %>">
                                                    <%= x.product_id.price %>
                                                </td>
                                                <td>


                                                    <button type="button" id="minus_qty" class="minus"
                                                        style="padding: 4px 10px; border: 1px solid rgb(245, 230, 230);"
                                                        onclick="changeQuantity('<%= x.product_id._id %>','<%= userID %>','-1','tottalData + <%= x.product_id._id %>','<%= x.product_id.price %>','sub-total','sum','<%= x._id %>')">-</button>

                                                    <input type="number" disabled class="" name="quantity" style="border: 1px solid rgb(245, 230, 230);
                                                    height: 1rem;
                                                    text-align: center;
                                                    margin: 0px -5px;" size="4" min="1" max=""
                                                        id="<%= x.product_id._id %>" step="1" placeholder=""
                                                        value="<%= x.qty %>">
                                                    <label class="screen-reader-text" for="plus_qty"> Plus
                                                        Quantity</label>
                                                    <button type="button" href="" id="plus_qty" class="plus"
                                                        style="padding: 4px 10px; border: 1px solid rgb(245, 230, 230);"
                                                        onclick="changeQuantity('<%= x.product_id._id %>','<%= userID %>','+1','tottalData + <%= x.product_id._id %>','<%= x.product_id.price %>','sub-total','sum','<%= x._id %>')">+</button>


                                                </td>
                                                <td id="tottalData + <%= x.product_id._id %>">
                                                    <%= x.totalPrice %>
                                                </td>
                                                <td>


                                                    <button style="padding: 0 7px;" type="submit"
                                                        onclick="DeleteItemFromCart('<%= x._id %>')">X</button>

                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <table class="table">
                                    <thead>
                                        <tr style="border: 1px solid #a8a2a2">
                                            <th colspan="2" style="background-color: #e7e7e7;" scope="col">ALL PRICE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border: 1px solid burlywood;">
                                            <th scope="row">SubTotal</th>
                                            <td id="sub-total">
                                                <%= total %>
                                            </td>
                                        </tr>
                                        <tr style="border: 1px solid burlywood;">
                                            <th scope="row">Shipping Charge</th>
                                            <td id="sub-total">
                                                0
                                            </td>
                                        </tr>
                                        <tr style="border: 1px solid burlywood;">
                                            <th scope="row">Total</th>
                                            <td id="sum">
                                                <%= total %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a style="color: #291818;
                            text-decoration: none;
                            font-size: 14px;
                            background: #cbbda7;
                            font-weight: 700;
                            border-radius: 17px;
                            padding: 16px 38px;" type="submit" href="/cart/procesCheck">PROCEED TO CHECKOUT</a>
                            </div>
                        </div>
                        <% } %>
            </div>


            <footer class="site-footer" id="colophon" itemscope="itemscope" itemid="#colophon">
                <div class="site-below-footer-wrap ast-builder-grid-row-container site-footer-focus-item ast-builder-grid-row-2-equal ast-builder-grid-row-tablet-2-equal ast-builder-grid-row-mobile-full ast-footer-row-stack ast-footer-row-tablet-stack ast-footer-row-mobile-stack"
                    data-section="section-below-footer-builder">
                    <div class="ast-builder-grid-row-container-inner">
                        <div class="ast-builder-footer-grid-columns site-below-footer-inner-wrap ast-builder-grid-row">
                            <div class="site-footer-below-section-1 site-footer-section site-footer-section-1">
                                <div class="ast-builder-layout-element ast-flex site-footer-focus-item ast-footer-copyright"
                                    data-section="section-footer-builder">
                                    <div class="ast-footer-copyright">
                                        <p>Copyright © 2023 Eyewear Store | Powered by Eyewear Store</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div id="showcase-cta-entry-root" class="st-customizer-cta"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function DeleteItemFromCart(proid) {
                Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, remove !"
                }).then(result => {
                    if (result.isConfirmed) {
                        fetch(`/cart/delete/${proid}`, {
                            method: 'POST',
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        }).then(data => {
                            if (data) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Item has been removed.",
                                    icon: "success"
                                }).then(()=>{
                                    location.reload();
                                })
                            }
                        }).catch(error => {
                            console.log(error);
                        });
                    }
                })
            }
        </script>

        <script>
            function changeQuantity(proid, userID, count, totalP, pPrice, allP, sum, cart) {
                var quantity = parseInt(document.getElementById(proid).value);
                var tP = parseInt(document.getElementById(totalP).innerText);
                var pp = parseInt(document.getElementById(pPrice).innerText);
                var ALLprice = parseInt(document.getElementById(allP).innerText);
                var sumss = parseInt(document.getElementById(sum).innerText);
                $.ajax({
                    url: '/change-product-q',
                    data: {
                        pro: proid,
                        user: userID,
                        count: count,
                        quantity: quantity,
                        cartid: cart,
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.status) {
                            var num = parseInt(quantity) + parseInt(count);
                            if (parseInt(count) === 1) {
                                var Psum = parseInt(tP) + parseInt(pp);
                                var ALLp = ALLprice + pp;
                                var summm = sumss + pp;
                            } else {
                                var Psum = tP - pp;
                                var ALLp = ALLprice - pp;
                                var summm = sumss - pp;
                            }
                            document.getElementById(proid).value = num;
                            document.getElementById(totalP).innerHTML = Psum;
                            document.getElementById(allP).innerHTML = ALLp;
                            document.getElementById(sum).innerHTML = summm;
                        } else if (response.RemovePcart) {
                            // window.location.href = response.redirectToCart; 
                            Swal.fire("You reached minimum!");
                        } else {
                            Swal.fire("You reach maximum!");
                        }
                    }
                })
            }            
        </script>
        <script>
            function CheckItemDelete() {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {

                        Swal.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });
                    }
                });
            }
        </script>
    </body>

</html>

<!-- 
function changeQuantity(proid, userID, count, totalP, pPrice, allP, sum) {
    let quantity = parseInt(document.getElementById(proid).value);
    let tP = parseInt(document.getElementById(totalP).innerText);
    let pp = parseInt(document.getElementById(pPrice).innerText);
    let ALLprice = parseInt(document.getElementById(allP).innerText);
    let sumss = parseInt(document.getElementById(sum).innerText);
    $.ajax({
        url: '/change-product-q',
        data: {
            pro: proid,
            user: userID,
            count: count,
            quantity: quantity,
        },
        method: 'post',
        success: (response) => {
            if (response.status) {
                var num = parseInt(quantity) + parseInt(count);
                if (parseInt(count) === 1) {
                    var Psum = tP + pp;
                    var ALLp = ALLprice + pp;
                    var summm = sumss + pp;
                } else {
                    var Psum = tP - pp;
                    var ALLp = ALLprice - pp;
                    var summm = sumss - pp;
                }
                document.getElementById(proid).value = num;
                document.getElementById(totalP).innerHTML = Psum;
                document.getElementById(allP).innerHTML = ALLp;
                document.getElementById(sum).innerHTML = summm;
            }else{
                alert("Out of Stock or You reach maximum");
            }
        }
    })
}    

-->