<!DOCTYPE html>
<html lang="en-US">

<%- include('partials/__viewEpHeader__') %>

  <body
    class="product-template-default single single-product postid-149 wp-custom-logo theme-astra woocommerce woocommerce-page woocommerce-js ast-desktop ast-plain-container ast-no-sidebar astra-4.3.1 ast-blog-single-style-1 ast-custom-post-type ast-single-post ast-inherit-site-logo-transparent ast-hfb-header ast-full-width-primary-header ast-woocommerce-related-upsell-list-style rel-up-columns-3 tablet-rel-up-columns-3 mobile-rel-up-columns-2 ast-normal-title-enabled elementor-default elementor-kit-4 elementor-page elementor-page-149 astra-addon-4.1.5">
    <div class="hfeed site" id="page">
      <header
        class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline"
        id="masthead" itemscope="itemscope" itemid="#masthead">
        <div id="ast-desktop-header" data-toggle-type="dropdown">
          <div class="ast-main-header-wrap main-header-bar-wrap ">
            <div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item"
              data-section="section-primary-header-builder">
              <div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container"
                data-section="section-primary-header-builder">
                <div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-grid-center-col-layout">
                  <div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
                    <div
                      class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item"
                      data-section="section-hb-menu-1">
                      <div class="ast-main-header-bar-alignment">
                        <div class="main-header-bar-navigation">
                          <nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item"
                            id="primary-site-navigation-desktop" aria-label="Site Navigation" itemscope="itemscope">
                            <div class="main-navigation ast-inline-flex">
                              <ul id="ast-hf-menu-1"
                                class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex  submenu-with-border ast-menu-hover-style-underline  stack-on-mobile">
                                <li id="menu-item-81"
                                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-81">
                                  <a href="/" class="menu-link">Home</a>
                                </li>
                              </ul>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                    <div
                      class="site-header-primary-section-left-center site-header-section ast-flex ast-grid-left-center-section">
                    </div>
                  </div>
                  <div class="site-header-primary-section-center site-header-section ast-flex ast-grid-section-center">
                    <div class="ast-builder-layout-element ast-flex site-header-focus-item"
                      data-section="title_tagline">
                      <div class="site-branding ast-site-identity">
                        <span class="site-logo-img"><a href="/" class="custom-logo-link" rel="home"><img width="134"
                              height="56" src="/images/logo-header-regular.png" class="custom-logo"
                              alt="Eyewear Store"></a></span>
                      </div>

                    </div>
                  </div>
                  <div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
                    <div
                      class="site-header-primary-section-right-center site-header-section ast-flex ast-grid-right-center-section">
                    </div>

                    <div class="ast-builder-layout-element site-header-focus-item ast-header-woo-cart"
                      data-section="section-header-woo-cart">
                      <div id="ast-site-header-cart"
                        class="ast-site-header-cart ast-menu-cart-with-border ast-desktop-cart-flyout ast-menu-cart-outline">
                        <div class="ast-site-header-cart-li ">
                          <a href="/cart"
                            class="cart-container ast-cart-desktop-position-left ast-cart-mobile-position- ast-cart-tablet-position- ">
                            <div
                              class="ast-addon-cart-wrap ast-desktop-cart-position-left ast-cart-mobile-position- ast-cart-tablet-position- ">
                              <i class="ast-icon-shopping-basket"><span class="ast-icon icon-basket"><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="" version="1.1"
                                    id="ast-basket-icon-svg" x="0px" y="0px" width="100" height="100"
                                    viewBox="826 826 140 140" enable-background="new 826 826 140 140"
                                    xml:space="preserve">
                                    <path
                                      d="M955.418,887.512c2.344,0,4.343,0.829,6.002,2.486c1.657,1.659,2.486,3.659,2.486,6.002c0,2.343-0.829,4.344-2.486,6.001  c-1.659,1.658-3.658,2.487-6.002,2.487h-0.994l-7.627,43.9c-0.354,2.033-1.326,3.713-2.917,5.04  c-1.593,1.326-3.405,1.989-5.438,1.989h-84.883c-2.033,0-3.846-0.663-5.438-1.989c-1.591-1.327-2.564-3.007-2.918-5.04l-7.626-43.9  h-0.995c-2.343,0-4.344-0.829-6.001-2.487c-1.658-1.657-2.487-3.658-2.487-6.001c0-2.343,0.829-4.343,2.487-6.002  c1.658-1.658,3.659-2.486,6.001-2.486H955.418z M860.256,940.563c1.149-0.089,2.111-0.585,2.885-1.491  c0.773-0.907,1.116-1.936,1.028-3.085l-2.122-27.586c-0.088-1.15-0.585-2.111-1.492-2.885c-0.906-0.774-1.934-1.117-3.083-1.028  c-1.149,0.088-2.111,0.586-2.885,1.492s-1.116,1.934-1.028,3.083l2.122,27.587c0.088,1.105,0.542,2.034,1.359,2.785  c0.818,0.752,1.78,1.128,2.885,1.128H860.256z M887.512,936.319v-27.587c0-1.149-0.42-2.144-1.26-2.984  c-0.84-0.84-1.834-1.26-2.984-1.26s-2.144,0.42-2.984,1.26c-0.84,0.841-1.26,1.835-1.26,2.984v27.587c0,1.149,0.42,2.145,1.26,2.984  c0.84,0.84,1.835,1.26,2.984,1.26s2.144-0.42,2.984-1.26C887.092,938.464,887.512,937.469,887.512,936.319z M912.977,936.319  v-27.587c0-1.149-0.42-2.144-1.26-2.984c-0.841-0.84-1.835-1.26-2.984-1.26s-2.145,0.42-2.984,1.26  c-0.84,0.841-1.26,1.835-1.26,2.984v27.587c0,1.149,0.42,2.145,1.26,2.984s1.835,1.26,2.984,1.26s2.144-0.42,2.984-1.26  C912.557,938.464,912.977,937.469,912.977,936.319z M936.319,936.65l2.122-27.587c0.088-1.149-0.254-2.177-1.027-3.083  s-1.735-1.404-2.885-1.492c-1.15-0.089-2.178,0.254-3.084,1.028c-0.906,0.773-1.404,1.734-1.492,2.885l-2.122,27.586  c-0.088,1.149,0.254,2.178,1.027,3.085c0.774,0.906,1.736,1.402,2.885,1.491h0.332c1.105,0,2.066-0.376,2.885-1.128  C935.777,938.685,936.23,937.756,936.319,936.65z M859.66,855.946l-6.167,27.322h-8.753l6.698-29.245  c0.84-3.89,2.807-7.062,5.902-9.516c3.095-2.453,6.632-3.68,10.611-3.68h11.074c0-1.149,0.42-2.144,1.26-2.984  c0.84-0.84,1.835-1.26,2.984-1.26h25.465c1.149,0,2.144,0.42,2.984,1.26c0.84,0.84,1.26,1.834,1.26,2.984h11.074  c3.979,0,7.516,1.227,10.611,3.68c3.094,2.454,5.062,5.626,5.901,9.516l6.697,29.245h-8.753l-6.168-27.322  c-0.486-1.945-1.491-3.537-3.017-4.774c-1.525-1.238-3.282-1.857-5.272-1.857h-11.074c0,1.15-0.42,2.144-1.26,2.984  c-0.841,0.84-1.835,1.26-2.984,1.26h-25.465c-1.149,0-2.144-0.42-2.984-1.26c-0.84-0.84-1.26-1.834-1.26-2.984h-11.074  c-1.99,0-3.747,0.619-5.272,1.857C861.152,852.409,860.146,854,859.66,855.946z">
                                    </path>
                                  </svg></span></i>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="ast-mobile-header" class="ast-mobile-header-wrap " data-type="dropdown">
      </header>
      <div class="container" style="position: absolute;margin-top: 9rem;margin-left: 75px;">
        <div style="width: 150px;">
          <div style="margin: 3px 0px;">
            <img style="width: 100%;" src="/uploaded/<%= EachproductDeatil.image[0] %>" alt="" srcset="">
          </div>
          <div style="margin: 3px 0px;">
            <img style="width: 100%;" src="/uploaded/<%= EachproductDeatil.image[1] %>" alt="" srcset="">
          </div>
          <div style="margin: 3px 0px;">
            <img style="width: 100%;" src="/uploaded/<%= EachproductDeatil.image[2] %>" alt="" srcset="">
          </div>
          <div style="margin: 3px 0px;">
            <img style="width: 100%;" src="/uploaded/<%= EachproductDeatil.image[3] %>" alt="" srcset="">
          </div>
        </div>
      </div>
      <div id="content" class="site-content">
        <div class="ast-container">
          <div id="primary" class="content-area primary">
            <main id="main" class="site-main">
              <div class="ast-woocommerce-container">
                <div class="woocommerce-notices-wrapper"></div>
                <div id="product-149"
                  class="ast-article-single ast-woo-product-no-review desktop-align-left tablet-align-left mobile-align-left ast-product-gallery-layout-vertical-slider ast-product-tabs-layout-accordion ast-qv-on-image product type-product post-149 status-publish first instock product_cat-women has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                  <div id="ast-sticky-row-summary" class="ast-sticky-row">
                    <form class="cart" action="" method="post" enctype="multipart/form-data"></form>
                    <div
                      class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
                      data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                      <figure class="woocommerce-product-gallery__wrapper">
                        <div><a href="#"><img style="margin-left: 9rem;
                          width: 32rem;
                          box-shadow: none;" src="/uploaded/<%= EachproductDeatil.image[0] %>" loading="lazy"></a>
                        </div>
                      </figure>
                      <div id="ast-gallery-thumbnails" class="slider-disabled "></div>
                    </div>
                    <div class="summary entry-summary">
                      <span class="single-product-category"><a href="#" rel="tag">
                          <%= EachproductDeatil.choose %>
                        </a></span>
                      <h1 class="product_title entry-title">
                        <%= EachproductDeatil.name %>
                      </h1>
                      <p class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span
                                class="woocommerce-Price-currencySymbol">$</span>175.00</bdi></span></del> <ins><span
                            class="woocommerce-Price-amount amount"><bdi><span
                                class="woocommerce-Price-currencySymbol">$</span>
                              <%= EachproductDeatil.price %>.00
                            </bdi></span></ins></p>
                      <span class="ast-shipping-text">&amp; Free Shipping</span>
                      <div class="woocommerce-product-details__short-description">
                        <p>
                          <%= EachproductDeatil.review %>
                        </p>
                      </div>
                      <form class="cart" action="/addToCart/<%= EachproductDeatil._id %>" method="post"
                        enctype="multipart/form-data">
                        <div class="quantity" style="display: flex;align-items: center;justify-content: space-between;
                        "><label class="screen-reader-text" for="minus_qty">Minus
                            Quantity</label>
                          <button type="button" id="minus_qty" class="minus">-</button>
                          <label class="screen-reader-text" for="quantity_6533da973faef">Product Name 1 quantity</label>
                          <input type="number" class="" name="quantity"
                            style="height: 3rem;margin-left: 38px;width: 4rem;text-align: center;" size="4" min="1"
                            max="" id="quy_value" step="1" placeholder="" value="1">
                          <label class="screen-reader-text" for="plus_qty"> Plus Quantity</label>
                          <button type="button" href="" id="plus_qty" class="plus">+</button>
                        </div>
                        <% if ( EachproductDeatil.qnumber===0) { %>
                          <h4>Out Of Stock</h4>
                          <% } else { %>
                            <button type="submit" value="" class="" onclick="Itemaddtocart()">Add to cart</button>
                            <% } %>
                              quantity :
                              <input type="number" name="equantity" id="" value="<%= EachproductDeatil.qnumber %>">
                              <br>
                      </form>
                      <div class="ast-woocommerce-accordion woocommerce-tabs ast-woocommerce-tabs">
                        <div class="ast-single-tab">
                          <h3 class="ast-accordion-header ast-tab-header active">
                            Description <span class="ahfb-svg-iconset ast-inline-flex"><svg xmlns="" width="24"
                                height="24" viewBox="0 0 24 24">
                                <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                              </svg></span><span class="ahfb-svg-iconset ast-inline-flex"><svg xmlns="" width="24"
                                height="24" viewBox="0 0 24 24">
                                <path d="M0 10h24v4h-24z"></path>
                              </svg></span> </h3>
                          <div
                            class="ast-accordion-content active woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab"
                            id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <div class="ast-accordion-wrap">
                              <div data-elementor-type="wp-post" data-elementor-id="149"
                                class="elementor elementor-149">
                                <section
                                  class="elementor-section elementor-top-section elementor-element elementor-element-b3de6bc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                  data-id="b3de6bc" data-element_type="section">
                                  <div class="elementor-container elementor-column-gap-no">
                                    <div
                                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2539087"
                                      data-id="2539087" data-element_type="column">
                                      <div class="elementor-widget-wrap elementor-element-populated">
                                        <section
                                          class="elementor-section elementor-inner-section elementor-element elementor-element-f175032 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                          data-id="f175032" data-element_type="section">
                                          <div class="elementor-container elementor-column-gap-no">
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6384bb3"
                                              data-id="6384bb3" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-067da59 elementor-widget elementor-widget-heading"
                                                  data-id="067da59" data-element_type="widget"
                                                  data-widget_type="heading.default">
                                                  <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">Size</h6>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7e10ea3"
                                              data-id="7e10ea3" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-cdfedd1 elementor-widget elementor-widget-heading"
                                                  data-id="cdfedd1" data-element_type="widget"
                                                  data-widget_type="heading.default">
                                                  <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">XL
                                                      (58-14)
                                                    </h6>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <section
                                          class="elementor-section elementor-inner-section elementor-element elementor-element-e6d0e6c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                          data-id="e6d0e6c" data-element_type="section">
                                          <div class="elementor-container elementor-column-gap-no">
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4d22808"
                                              data-id="4d22808" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-27f963d elementor-widget elementor-widget-heading"
                                                  data-id="27f963d" data-element_type="widget"
                                                  data-widget_type="heading.default">
                                                  <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">Frame
                                                      Description</h6>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4c200d7"
                                              data-id="4c200d7" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-29e9213 elementor-align-right elementor-mobile-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                  data-id="29e9213" data-element_type="widget"
                                                  data-widget_type="icon-list.default">
                                                  <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Shape: Round</span>
                                                      </li>
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Color: Pink</span>
                                                      </li>
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Material: Metal</span>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <section
                                          class="elementor-section elementor-inner-section elementor-element elementor-element-ac1ce68 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                          data-id="ac1ce68" data-element_type="section">
                                          <div class="elementor-container elementor-column-gap-no">
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e2edf61"
                                              data-id="e2edf61" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-c7daa6e elementor-widget elementor-widget-heading"
                                                  data-id="c7daa6e" data-element_type="widget"
                                                  data-widget_type="heading.default">
                                                  <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">Lens
                                                      Information</h6>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div
                                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f2dbe44"
                                              data-id="f2dbe44" data-element_type="column">
                                              <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                  class="elementor-element elementor-element-23843f6 elementor-align-right elementor-mobile-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                  data-id="23843f6" data-element_type="widget"
                                                  data-widget_type="icon-list.default">
                                                  <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Class: 3P</span>
                                                      </li>
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Color: Pink</span>
                                                      </li>
                                                      <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-text">Treatment: Classic</span>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ast-single-tab">
                          <h3 class="ast-accordion-header ast-tab-header ">
                            Reviews <span class="ahfb-svg-iconset ast-inline-flex"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
                              </svg></span><span class="ahfb-svg-iconset ast-inline-flex"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M0 10h24v4h-24z"></path>
                              </svg></span> </h3>
                          <div
                            class="ast-accordion-content  woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab"
                            id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div class="ast-accordion-wrap">
                              <div id="reviews" class="woocommerce-Reviews">

                                <div id="review_form_wrapper">
                                  <div id="review_form">
                                    <div id="respond" class="comment-respond">
                                      <span id="reply-title" class="comment-reply-title">you can write the review</span>
                                      <form action="#" method="post" id="commentform" class="comment-form">
                                        <p class="comment-notes"></p>

                                        <p class="comment-form-comment"><label for="comment">Your
                                            review</label><textarea autocomplete="new-password" id="comment"
                                            name="i112b9e8e8" cols="45" rows="8" required=""></textarea><textarea
                                            id="ad84133729ff5b84ab24522564bce8a3" aria-label="hp-comment"
                                            aria-hidden="true" name="comment" autocomplete="new-password"
                                            style="padding:0 !important;clip:rect(1px, 1px, 1px, 1px) !important;position:absolute !important;white-space:nowrap !important;height:1px !important;width:1px !important;overflow:hidden !important;"></textarea>

                                        </p>
                                        <p class="comment-form-author"><label for="author">Name&nbsp;<span
                                              class="required">*</span></label><input id="author" name="author"
                                            type="text" value="" size="30" required=""></p>
                                        <p class="comment-form-email"><label for="email">Email&nbsp;<span
                                              class="required">*</span></label><input id="email" name="email"
                                            type="email" value="" size="30" required=""></p>
                                        <p class="form-submit"><input name="submit" type="submit" id="submit"
                                            class="submit" value="Submit">
                                        </p>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
      <footer class="site-footer" id="colophon" itemscope="itemscope" itemid="#colophon">
        <div
          class="site-below-footer-wrap ast-builder-grid-row-container site-footer-focus-item ast-builder-grid-row-2-equal ast-builder-grid-row-tablet-2-equal ast-builder-grid-row-mobile-full ast-footer-row-stack ast-footer-row-tablet-stack ast-footer-row-mobile-stack"
          data-section="section-below-footer-builder">
          <div class="ast-builder-grid-row-container-inner">
            <div class="ast-builder-footer-grid-columns site-below-footer-inner-wrap ast-builder-grid-row">
              <div class="site-footer-below-section-1 site-footer-section site-footer-section-1">
                <div class="ast-builder-layout-element ast-flex site-footer-focus-item ast-footer-copyright"
                  data-section="section-footer-builder">
                  <div class="ast-footer-copyright">
                    <p>Copyright © 2023 Eyewear Store | Powered by Eyewear Store</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </footer>
    </div>
    <script id="astra-add-to-cart-quantity-btn-js-extra">
      var astra_qty_btn = { "plus_qty": "Plus Quantity", "minus_qty": "Minus Quantity", "style_type": "normal" };
    </script>
    <script src="/javascripts/add-to-cart-quantity-btn.js" id="astra-add-to-cart-quantity-btn-js"></script>
    <script id="wc-single-product-js-extra">
      var wc_single_product_params = { "i18n_required_rating_text": "Please select a rating", "review_rating_required": "yes", "flexslider": { "rtl": false, "animation": "slide", "smoothHeight": true, "directionNav": false, "controlNav": false, "slideshow": false, "animationSpeed": 500, "animationLoop": false, "allowOneSlide": false }, "zoom_enabled": "1", "zoom_options": [], "photoswipe_enabled": "1", "photoswipe_options": { "shareEl": false, "closeOnScroll": false, "history": false, "hideAnimationDuration": 0, "showAnimationDuration": 0 }, "flexslider_enabled": "1" };
    </script>
    <script src="/javascripts/single-product.js" id="wc-single-product-js"></script>
    <script src="/javascripts/astra-addon-6524ff4b102838-47467467.js" id="astra-addon-js-js"></script>
    <script src="/javascripts/frontend_1.js" id="elementor-frontend-js"></script>
    <script src="/javascripts/frontend.min.js" id="wpforms-elementor-js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      var minus = document.getElementById('minus_qty');
      var plus = document.getElementById('plus_qty');
      var quantityTotal = 1;
      minus.addEventListener('click', qutChangetoMinus);
      plus.addEventListener('click', qutChangetoPlus);
      function qutChangetoMinus() {
        var quaVal = document.getElementById('quy_value').value;
        quaVal = parseInt(quaVal);
        if (quaVal != 1) {
          quantityTotal = quaVal - 1;
        }
        document.getElementById('quy_value').value = quantityTotal;
      }
      function qutChangetoPlus() {
        var quaVal = document.getElementById('quy_value').value;
        quaVal = parseInt(quaVal);
        quantityTotal = quaVal + 1;
        document.getElementById('quy_value').value = quantityTotal;
      }
    </script>

    <script>
      function Itemaddtocart(){
        Swal.fire("Product added in Cart");
      }
    </script>
  </body>

</html>