<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.rtl.min.css">
</head>

<body>

    <%- include('partials/__homeheader__') %>
        <header
            class="site-header header-main-layout-1 ast-primary-menu-enabled ast-logo-title-inline ast-hide-custom-menu-mobile ast-builder-menu-toggle-icon ast-mobile-header-inline"
            id="masthead" itemscope="itemscope" itemid="#masthead">
            <div id="ast-desktop-header" data-toggle-type="dropdown">
                <div class="ast-main-header-wrap main-header-bar-wrap ">
                    <div class="ast-primary-header-bar ast-primary-header main-header-bar site-header-focus-item"
                        data-section="section-primary-header-builder">
                        <div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container"
                            data-section="section-primary-header-builder">
                            <div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-grid-center-col-layout">
                                <div
                                    class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
                                    <div class="ast-builder-menu-1 ast-builder-menu ast-flex ast-builder-menu-1-focus-item ast-builder-layout-element site-header-focus-item"
                                        data-section="section-hb-menu-1">
                                        <div class="ast-main-header-bar-alignment">
                                            <div class="main-header-bar-navigation">
                                                <nav class="site-navigation ast-flex-grow-1 navigation-accessibility site-header-focus-item"
                                                    id="primary-site-navigation-desktop" aria-label="Site Navigation"
                                                    itemscope="itemscope">
                                                    <div class="main-navigation ast-inline-flex">
                                                        <ul id="ast-hf-menu-1"
                                                            class="main-header-menu ast-menu-shadow ast-nav-menu ast-flex  submenu-with-border ast-menu-hover-style-underline  stack-on-mobile">
                                                            <li id="menu-item-81"
                                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-81">
                                                                <a href="/" class="menu-link">Home</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="site-header-primary-section-left-center site-header-section ast-flex ast-grid-left-center-section">
                                    </div>
                                </div>
                                <div
                                    class="site-header-primary-section-center site-header-section ast-flex ast-grid-section-center">
                                    <div class="ast-builder-layout-element ast-flex site-header-focus-item"
                                        data-section="title_tagline">
                                        <div class="site-branding ast-site-identity" itemscope="itemscope">
                                            <span class="site-logo-img"><a href="/" class="custom-logo-link"
                                                    rel="home"><img width="134" height="56"
                                                        src="/images/logo-header-regular copy.png" class="custom-logo"
                                                        alt="Eyewear Store"></a><span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
                                    <div
                                        class="site-header-primary-section-right-center site-header-section ast-flex ast-grid-right-center-section">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!--Main layout-->
        <main class="pt-4">
            <div class="container">
                <!-- Heading -->
                <h2 style="margin-bottom: 20px;" class="text-center">Checkout Details</h2>
                <hr style="background-color: #1a0000;
                border: 0;
                height: 2px;
                margin-bottom: 1.5em;">
                <form action="/getAdd" method="post">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-8 mb-4">
                            <!--Card-->
                            <div class="card p-4" style="margin-right: 100px; box-shadow: 6px 17px 26px #cdc4c4;">
                                <!-- first data -->
                                <h5>CUSTOMER INFORMATION</h5>
                                <label>Email Address</label>
                                <div class="input-group mb-4">
                                    <h6><%= emailData.email %></h6>
                                </div>
                                <!-- first data -->
                                <h5>BILLING DETAILS</h5>
                                <hr>
                                <div class="row mb-3">
                                    <!--Grid column-->
                                    <h6>Select the Address</h4>
                                        <select class="browser-default custom-select mb-3" name="address" required>
                                            <option>please select address</option>
                                            <% for( let i=0; i < address.length; i++ ) { %>
                                                <option value="<%= address[i]._id %>">
                                                    <%= address[i].name %>
                                                        <%= address[i].address %>
                                                            <%= address[i].state %>
                                                                <%= address[i].city %>
                                                </option>
                                                <% } %>
                                        </select>
                                </div>
                    

                            </div>
                            <div class="form-outline mb-4">
                                <hr />
                                <h4 class="my-4">PAYMENT</h4>
                                <div class="my-3" style="box-shadow: 3px 6px 26px #ffc4c4;
                                padding: 20px;
                                margin-right: 459px;
                                border-radius: 13px;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio"
                                            id="flexRadioDefault1" checked  value="Card"/>
                                        <label class="form-check-label" for="flexRadioDefault1"> Credit card </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio"
                                            id="flexRadioDefault2" />
                                        <label class="form-check-label" for="flexRadioDefault2"> Debit card </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio"
                                            id="flexRadioDefault3" />
                                        <label class="form-check-label" for="flexRadioDefault3"> Paypal & UPI</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radio"
                                            id="flexRadioDefault3" value="COD"/>
                                        <label class="form-check-label" for="flexRadioDefault3"> COD </label>
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                    <p class="mb-0">
                                        Name on card
                                    </p>
                                    <div>
                                        <input type="text" / style="margin-left: 2px;
                                width: 100%;">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <p class="mb-0">
                                        Credit card number
                                    </p>
                                    <div>
                                        <input type="text" style="margin-left: 2px;
                                width: 100%;" />
                                    </div>
                                </div>
                            </div> -->
                                <!-- <div class="row">
                                <div class="col-md-3 mb-3">
                                    <p class="mb-0">
                                        Expiration
                                    </p>
                                    <div class="form-outline">
                                        <input type="text" style="margin-left: 2px;
                                width: 50%;" />
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <p class="mb-0">
                                        CVV
                                    </p>
                                    <div class="form-outline">
                                        <input type="text" style="margin-left: 5px;
                                width: 50%;" />

                                    </div>
                                </div>
                            </div> -->
                                <hr class="mb-4" />
                                <!-- <button class="btn btn-primary" type="button">Continue to checkout</button> -->
                                <button type="submit" class="button alt" name="totalamount"
                                    id="place_order" value="<%= sumP %>">Place
                                    Order $<%= sumP %>.00</button>
                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                </form>
                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge rounded-pill badge-primary">
                            <%= count %>
                        </span>
                    </h4>

                    <!-- Cart -->
                    <ul class="list-group mb-3" style="margin: 0 -20px;">
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">Product name</h6>
                            </div>
                            <span class="text-muted">Total</span>
                        </li>
                        <% for( let i=0; i < ProcsData.length; i++ ) { %>
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <h6 class="my-0">
                                        <%= ProcsData[i].product_id.name %> x <%= ProcsData[i].qty %>
                                    </h6>
                                </div>
                                <span class="text-muted">$<%= ProcsData[i].totalPrice %></span>
                            </li>
                            <% } %>
                                <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Promo code</h6>
                                </div>
                                <span class="text-success">-$5</span>
                            </li> -->
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (USD)</span>
                                    <strong>$<%= sumP %></strong>
                                    <!-- <input type="text" class="form-control" disabled placeholder="Username" aria-label="Username"
                                    aria-describedby="basic-addon1" value='"/> -->
                                </li>
                    </ul>
                    <!-- Cart -->

                    <!-- Promo code -->
                    <form class="card p-2">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Promo code" aria-label="Promo code"
                                    aria-describedby="button-addon2" />
                                <button class="btn btn-primary" type="button" id="button-addon2"
                                    data-mdb-ripple-color="dark">
                                    redeem
                                </button>
                            </div>
                        </form>
                    <!-- Promo code -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </div>
        </main>
        <!--Main layout-->

        <!-- footer -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</body>

</html>