<%- include('partials/__userAddConfig__') %>


<section id="sidebar">
    <a href="/" class="brand">
        <i class='bx bx-home'></i>
        <span class="text">HOME</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/settings">
                <i class='bx bxs-user'></i>
                <span class="text">Account Details</span>
            </a>
        </li>
        <li>
            <a href="/settings/addrs">
                <i class='bx bx-home' ></i>
                <span class="text">Address</span>
            </a>
        </li>
        <li>
            <a href="/settings/orders">
                <i class='bx bxs-shopping-bags' ></i>
                <span class="text">My Orders</span>
            </a>
        </li>
		<li>
			<a href="/settings/wallet">
				<i class='bx bxs-message-dots'></i>
				<span class="text">Wallet</span>
			</a>
		</li>
        <!-- <li>
            <a href="#">
                <i class='bx bxs-message-dots'></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-group'></i>
                <span class="text">Team</span>
            </a>
        </li> -->
    </ul>
    <!-- <ul class="side-menu"> -->
        <!-- <li>
            <a href="#">
                <i class='bx bxs-cog' ></i>
                <span class="text">Settings</span>
            </a>
        </li> -->
        <!-- <li>
            <a href="#" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li> -->
    <!-- </ul> -->
</section>

	<!-- CONTENT -->
	<section id="content">
		<main class="">
			<div class="container">
				<!-- Heading -->
				<h2 class="text-center">User's Details</h2>
	
				<!--Grid row-->
				<div class="row">
					<!--Grid column-->
					<div class="col-md-10" style="box-shadow: 7px 6px 21px;
					border-radius: 18px;
					border: 0px solid #efe2fc;">
						<!--Card-->
						<div class="card p-4">
							<!-- first data -->
							<h3>CUSTOMER INFORMATION</h3>
							<label>Name</label>
							<div class="input-group mb-4">
								<h1><%= userInfo.name %></h1>
							</div>
							<label>Email Address</label>
							<div class="input-group mb-4">
								<%= userInfo.email %>
							</div>
							<!-- first data -->
							<!-- first data -->
							<label>Phone</label>
							<div class="input-group mb-4">
								<%= userInfo.p_number %>
							</div>
							<div class="row mb-3">
								<!--Grid column-->
								<div class="col-md-4 mb-2">
									<!--firstName-->
									<label>Old Password</label>
									<div class="form-outline">
										<input type="text" / style="width: 100%;">
									</div>
								</div>
								<!--Grid column-->
								<!--Grid column-->
								<div class="col-md-4 mb-2">
									<!--lastName-->
									<label>New Password</label>
									<div class="form-outline">
										<input type="text" / style="width: 100%;">
									</div>
								</div>
								<!--Grid column-->
								<div class="col-md-4 mb-2">
									<!--lastName-->
									<label>Confirm Password</label>
									<div class="form-outline">
										<input type="text" / style="width: 100%;">
									</div>
								</div>
								<!--Grid column-->
							</div>
							<button type="submit" class="button alt" name="woocommerce_checkout_place_order" style="margin: 0 auto;"
									id="place_order" value="Place Order $1260.00" data-value="Place Order $1260.00">SUBMIT</button>
						</div>
					</div>
					<!--Grid column-->
				</div>
				<!--Grid row-->
			</div>
		</main>
	</section>
	<!-- CONTENT -->


    <%- include('partials/__useraddFoo__') %>