<%- include('partials/__userAddConfig__') %>

	<section id="sidebar">
		<a href="/" class="brand">
			<i class='bx bx-home'></i>
			<span class="text">HOME</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/settings">
					<i class='bx bxs-user'></i>
					<span class="text">Account Details</span>
				</a>
			</li>
			<li>
				<a href="/settings/addrs">
					<i class='bx bx-home'></i>
					<span class="text">Address</span>
				</a>
			</li>
			<li class="active">
				<a href="/settings/orders">
					<i class='bx bxs-shopping-bags'></i>
					<span class="text">My Orders</span>
				</a>
			</li>
			<!-- <li>
			<a href="#">
				<i class='bx bxs-message-dots'></i>
				<span class="text">Message</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class='bx bxs-group'></i>
				<span class="text">Team</span>
			</a>
		</li> -->
		</ul>
		<!-- <ul class="side-menu"> -->
		<!-- <li>
			<a href="#">
				<i class='bx bxs-cog' ></i>
				<span class="text">Settings</span>
			</a>
		</li> -->
		<!-- <li>
			<a href="#" class="logout">
				<i class='bx bxs-log-out-circle'></i>
				<span class="text">Logout</span>
			</a>
		</li> -->
		<!-- </ul> -->
	</section>

	<!-- CONTENT -->
	<section id="content" style="margin: 3rem 9rem;">
		<h2>Order History</h2>
		<hr style="width: 12rem;">
		<% Alldata.forEach(data=> { %>
			<div class="card mb-4" style="width: 60rem;
			border-radius: 15px;
			box-shadow: 6px 3px 25px #909090;">
				<div class="card-body">
					<div class="container" style="padding: 3rem 2rem;">
						<% data.products.forEach(sdata=> { %>
							<div class="row">
								<div class="col">
									<label for="" style="font-weight: 800;">Product Name</label>
									<div>
										<h4>
											<%= sdata.product_id.name %>
										</h4>
									</div>
								</div>
								<div class="col">
									<div>
										<h4><img style="width: 65px; height: 65px; margin-left: 12px;
											border: 1px solid #80c7af;
											border-radius: 16px" src="/uploaded/<%= sdata.product_id.image[0] %>" alt="" srcset=""></h4>
									</div>
								</div>
								<div class="col">
									<label for="" style="font-weight: 800;">Product Quantity</label>
									<div>
										<h4>Q:<%= sdata.qty %>
										</h4>
									</div>
								</div>
								<div class="col">
									<label for="" style="font-weight: 800;">Product Price</label>
									<div>
										<h4>$<%= sdata.price %>
										</h4>
									</div>
								</div>
								<div class="col">
									<label for="" style="font-weight: 800;">Payment Type</label>
									<div>
										<h4>
											<%= data.paymentmethod %>
										</h4>
									</div>
								</div>
							</div>
							<% }) %>
					</div>
					<a href="/settings/orders/view/<%= data._id %>">View</a>
				</div>
			</div>
			<% }) %>
	</section>
	<!-- CONTENT -->



	<%- include('partials/__useraddFoo__') %>